@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.backButton {
    font-family: 'Fira Code', monospace;
    border: none;
    background-color: #f8f8f8;
    font-size: 1.25em;
    cursor: pointer;
}