@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

.backButton {
    font-family: 'Fira Code', monospace;
    border: none;
    background-color: #f8f8f8;
    font-size: 1.25rem;
    cursor: pointer;
}

.backButton:hover {
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}