img {
    max-width: 100%;
    height: auto;
}

.contact {
    padding: 2em;
}

.contactImage {
    width: 315px;
    height: 228px;
}

.contactBio {
    margin-top: 4em;
    max-width: 95%;
}

.contactEmail {
    margin-top: 2em;
}

.contactEmail a {
    cursor: pointer;
}

@media only screen and (min-width: 650px) {
    .contact {
        padding: 2em 0 2em 8em;
    }

    .contactBio {
        max-width:50%;
    }
}