img {
    max-width: 100%;
    height: auto;
}

.contact {
    padding: 2rem;
}

.contactImage {
    width: 300px;
    height: 200px;
}

.contactBio {
    margin-top: 4rem;
    max-width: 95%;
}

.contactEmail {
    margin-top: 2rem;
}

.contactEmail a {
    cursor: pointer;
    color: #FF5858;
}

.contactEmail a:hover {
    cursor: pointer;
    color: #FFB2B2;
}

.photoCredit {
    font-size: .65rem;
    margin-left: .5rem;
}

@media only screen and (min-width: 650px) {
    .contact {
        padding: 2rem 0 2rem 8rem;
    }

    .contactBio {
        max-width: 50%;
    }
}