img {
    max-width: 100%;
    height: auto
}

.home {
    margin: .5rem 2rem;
}

.newsImage {
    width: 280px;
    height: 280px;
    margin-top: 2rem;
} 

@media only screen and (min-width: 650px ){
    .home {
        margin: .5rem 0 0 3rem;
    }
}