
a {
    margin: 0 50px 25px 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: 100%;
}

.music {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    max-width: 100%;
}

.music h1 {
    font-size: 1.75em;
}

.albumGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 2em 0;
}

.album {
    margin: 0 2em 0 0;
    position: relative;
}

.hoverText {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    width: 100%;
    height: 320px;
    background-color: white;
    font-size: 1.5em;
    padding: 15%;
}

.albumCover {
    display: block;
    max-width: 220px;
    height: 220px;
}

.album:hover .hoverText {
    visibility: visible;
    opacity: .8;
}

@media only screen and (min-width: 650px) {
    .music {
        margin: 2em 0 2em 8em;
        max-width: 80%;
        align-items: baseline;
    }

    .albumGrid {
        flex-direction: row;
    }
    
    .albumCover {
        max-width: 320px;
        height: 320px;
    }
}
@media only screen and (min-width: 1850px) {
    .music {
        max-width: 65%;
    }
}

@media only screen and (min-width: 2250px) {
    .music {
        max-width: 50%;
    }
}
