
a {
  text-decoration: none;
  color:black;
}

a:visited {
  color:black;
}

a:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.navigation {
  width: 100vw;
  text-align: center;
}

.navigation li {
  margin: 0;
}

.mainMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem 4rem 2rem;
}

.mainMenu li {
  margin: 1rem 0 0 0;
}

.mainMenu li + li {
  margin-left: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: 500;
  font-style: italic;
}

/* .logo:hover {
  text-shadow:
  -.75px -.75px 0 black,
  .75px -.75px 0 black,
  -.75px .75px 0 black,
  .75px .75px 0 black;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
} */

.logo li {
  margin: 0;
}

.logo a {
  margin: 0;
}

.logo a:hover {
  background-color: #f8f8f8;
}

.hamburger {
  margin-top:1rem;
}

@media only screen and (min-width: 650px) {
  .navigation {
    padding: .5rem 0 .5rem 6rem;
  }

  .mainMenu {
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    padding-bottom: 1rem
  }

  .hamburger {
    display: none;
  }
  
  .logo {
    font-size: 2.5rem;
  }
  
}


