img {
    max-width: 100%;
    height: auto;
}

.newsTitle{
    margin-top: 1.15em;
}

.newsDate {
    margin-top: 1em;
    font-size: .75em;
   
}

.newsCategory {
    font-size: 0.8em;
    font-weight: 700;
}

.newsImage {
    width: 250px;
    height: 250px;
}

.newsContent {
    margin-top: 3em;
    max-width:100%;
}

.newsLink {
    color: #FF5858;
    text-decoration: none;
}

.newsLink:visited {
    color: #FF5858;
}

/* Bounce In */
.hvrBounceIn {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvrBounceIn:hover, .hvrBounceIn:focus, .hvrBounceIn:active {
    -webkit-transform: scale(1.7);
    transform: scale(1.7);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }
  

@media only screen and (min-width: 650px) {
    .newsContent {
        max-width:65%;
    }

    .newsImage {
        width: 320px;
        height: 320px;
    }
}