.subMenu {
    display: none;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #f8f8f8;
    padding: .25em .5em;
}
  
.subMenu li {
    margin: 1.25em;
}

.subMenu li:hover {
    text-shadow:
    -.75px -.75px 0 black,
    .75px -.75px 0 black,
    -.75px .75px 0 black,
    .75px .75px 0 black;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
  
.subMenu a {
    margin: 0 1em;
}

@media only screen and (min-width: 650px){
    .subMenu {
        display: flex;
        justify-content: space-between;
        position:static;
        font-size: 1.15em;
    }
}
  