@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', monospace;
}

a {
  text-decoration: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

main>.container {
  padding:0;
}

.card, .card-header, .card-footer {
  background-color: #f8f8f8;
}

.card-img {
  width: 250px;
  height: 250px;
}

.figure-img {
  width: 256px;
  height: 171px;
}

.footer {
  margin: 4rem 0 1rem 0;
  text-align: center;
  font-size: .75rem;
}

.list-group-item {
  background-color:#f8f8f8;
}

.navbar-brand {
  font-size: 1.55rem !important;
}

.newsLink {
  color: #FF5858;
  text-decoration: none;
}

.newsLink:visited {
  color: #FF5858;
}

/* Bounce In */
.hvrBounceIn {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.hvrBounceIn:hover, .hvrBounceIn:focus, .hvrBounceIn:active {
  -webkit-transform: scale(1.7);
  transform: scale(1.7);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

@media screen and (min-width: 650px) {

  main>.container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card {
    width: 75%;
  }

  .card-img{
    width: 350px;
    height: 350px;
  }

  .figure-img {
    width: 512px;
    height: 341.25px;
  }

  .navbar-brand {
    font-size: 2rem !important;
  }
}